# Git
.git/

# Python
__pycache__/
*.pyc

# Company credentials / secrets
connections/
connections.json
credentials/
secrets/
.env
.env.*
*.pem
*.key
*.crt
*.p12
*.pfx

# Airflow local configuration
config/airflow.cfg

# Google credentials
google_credentials/
utils/google_credentials/

# Logs
logs/
*.log

# Archives
*.zip

config/airflow.cfg

docker-compose.yaml
